name: CI
on:
  push:
    tags:
      - "*"
    branches:
      - master
      - renovate/**
  pull_request:
env:
  ProjectName: ${{ github.event.repository.name }}
  CARGO_TERM_COLOR: always
  RUST_LOG: trace

jobs:
  build:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            ext: exe
          - os: macos-latest
            target: aarch64-apple-darwin
            ext: ""
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            ext: ""
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
      - name: Install Rust
        run: |
          rustup set profile minimal
          rustup toolchain install stable --component clippy,rustfmt
          rustup target add ${{ matrix.target }}
          cargo install cargo-audit
      - name: Format
        run: |
          cargo fmt -- --check
      - name: Clippy
        run: |
          cargo clippy --all-targets --all-features -- -D warnings
      - name: Audit
        run: cargo audit --deny warnings
      - name: Build
        run: cargo build --release --target ${{ matrix.target }}
      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: ${{ env.ProjectName }}-${{ matrix.target }}
          path: target/${{ matrix.target }}/release/wpc${{ matrix.ext }}

  package:
    needs: [ build ]
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') }}
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: artifacts
          merge-multiple: true
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: false
          prerelease: false
          allowUpdates: true
          replacesArtifacts: false
          artifacts: artifacts/*
